#imgMechanic{
    flex-grow:0;

}
#imgMechanic img{
    width: 200px;
}
#register{
 align-items: center;
}
.imgComponent{
    width: 100px !important;
    height: 100px !important;
}
.registerComponentes{
    flex-flow: column wrap-reverse;
    justify-content: center;
}
.mostrarComponentes{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cartaComponente{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width: 600px){
    
    #mostrarComponentes{
        flex-grow: 0;
        overflow-y: scroll;
        max-height: 100px;
        border: 8px solid black;
    }
}
.contenedorCarta{
    width: 80px;
}
#carritoComponents{
    max-height: 200px;
    overflow: auto;
}
.btnAddComponent{
    align-self: stretch;
}
#finishBike{
    align-self: center;
}
.fondoColor{
    background-color: #19d3da !important;
}
#navArriba{
    background-color: rgba(100, 148, 237, 0.363) !important;
}