@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,400&display=swap');
body{
    font-family: 'Roboto', sans-serif !important;
}

#headerNologin, #titulo, #register{
    padding: 1em;
}
#register{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width: 600px){
    #register{
        display: flex;
        flex-direction: column-reverse;
    }
    #footerNoLogin{
        flex-direction:column-reverse;
    }
    #autor{
        flex-grow: 7;
        align-content: bottom;
    }
   #menuFooterLogin{
       flex-grow: 0;
   }
}
.imgRegister{
    flex-grow:0;
}
.imgRegister img{
    width: 500px;
}
#registerForm{
    flex-grow:0;  
}
#titulo{
    text-align: center;
}
.tituloPalabra{
    color: #19d3da !important ;
}
#loginForm{
    display: flex;
    justify-content: flex-end;
}

#footerNoLogin{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#autor{
    flex-grow: 9;
}
#menuFooterLogin{
   flex-grow: 0;
   flex: 1;
}










